<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Automatic.Graph.Layout" version="0.7.0-beta" targetFramework="net40" />
  <package id="NetOffice.Core.Net40" version="1.7.3.0" targetFramework="net40" />
  <package id="NetOffice.Visio.Net40" version="1.7.3.0" targetFramework="net40" />
</packages>